doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UploadFile
    body 
    
    h1 Cargar Archivo 

    form(action="/upload/archivo" method="POST" enctype="multipart/from-data" ) 
        label(for="archivo") Subir Archivo    
        input(type="file" name="imagen" placeholder="Archivo" value="Achivo")    

        input(type="submit" value="Agregar" name="subirArchivo")       